.row-fluid
  .span6
    = simple_form_for @note, html: {:class => "edit-note"} do |f|
      = f.input :title, label: false, placeholder: 'Title', input_html: { class: 'input-xxlarge' }
      = f.input :body, label: false, rows: 20, :input_html => { rows: 20 }
      = f.association :category, prompt: "Choose a Company"
      = f.submit "Save", class: 'btn btn-primary'
  .span6
    #markdown-preview.note-body
      = raw @note.rendered_body