.row-fluid
  .span6
    = form_for @note, html: {:class => "edit-note"} do |f|
      .control-group
        .controls
          = f.text_field :title, :class => "input-xxlarge"
      .control-group
        .controls
          = f.text_area :body, :rows => 20
      .control-group
        .controls
          .form-buttons
            = f.submit "Save", :class => "btn btn-primary"
  .span6
    #markdown-preview.note-body
      = raw @note.rendered_body