%ul.note-list.table-list
  - unless @notes.nil?
    - @notes.each do |note|
      - if note == @note
        %li.selected
          %span.title
            %i.fa-icon-caret-right
            = note.title
          %span.preview
            = strip_tags note.rendered_body
          %span.date
            = note.updated_at.to_formatted_s(:short)          
      - else
        %li
          = link_to note do
            %span.title
              = note.title
            %span.preview
              = strip_tags note.rendered_body
            %span.date
              = note.updated_at.to_formatted_s(:short)