.row-fluid
  .span5
    %h1= @category.name
    = render :partial => 'notes/list', :locals => { :notes => @notes }
    %h5= link_to 'View All', notes_path
  .span7
    .note
      .header
        %h1
          = @note.title
        .links
          = link_to edit_note_path(@note) do
            %i.icon-edit
            Edit
          &nbsp;|&nbsp;
          = link_to @note, method: :delete, data: {confirm: 'Are you sure?'} do
            %i.icon-trash
            Delete
          &nbsp;|&nbsp;
          = link_to "Share", "/share/#{@note.id}", method: :post

        .data
          %i.icon-folder-close-alt
          = link_to @note.category.name, @note.category
          &nbsp;
          %i.icon-time
          = @note.updated_at.to_formatted_s(:short)
      .note-body
        = raw @note.rendered_body