.row-fluid
  .span12
    - @categories.each do |category|
      %h3= link_to "#{category.name} (#{category.notes.count})", category
      - @notes = category.notes.limit(5)
      = render :partial => 'notes/list', :locals => { :notes => @notes }

    = link_to new_category_path, :class => "btn new-btn" do
      %i.fa-icon-edit
      New