%div#sidebar-left.span1
  .nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked
      %li{:class => "#{'active' if controller_name == 'home'}"}
        = link_to root_url do
          %i.icon-home.icon-fixed-width
          %p
            Home
      %li{:class => "#{'active' if controller_name == 'home'}"}
        = link_to home_dashboardtwo_path do
          %i.icon-home.icon-fixed-width
          %p
            Home2            
      %li{:class => "#{'active' if controller_name == 'notes' && action_name != 'new'}"}
        = link_to notes_path do
          %i.icon-list
          %p
            Notes
      %li{:class => "#{'active' if controller_name == 'notes' && action_name == 'new'}"}
        = link_to new_note_path do
          %i.icon-edit
          %p
            New Note
      %li{:class => "#{'active' if controller_name == 'categories'}"}
        = link_to categories_path do
          %i.icon-folder-close
          %p
            Categories
%a#main-menu-toggle.hidden-phone.open
  %i.icon-reorder
