!!!Doctype
%html
  %head
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Average+Sans|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800', media: 'all'
    = favicon_link_tag '/favicon.ico'
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = yield(:header) if content_for? :header
  %body
    = render :partial => "layouts/navbar"

    .container-fluid#main-container
      .row-fluid
        = render :partial => "layouts/sidebarleft"

        %noscript
          .alert.alert-block.span11
            %h4.alert-heading Warning
            %p
              You need to have Javascript enabled.
        #content.span11
          = yield
        = link_to logout_path, :class => "hidden-tablet hidden-phone", :id => "upper-right-button" do
          %i.icon-off
    %footer
      %p
        %span#copyright-text
          &copy;
          = DateTime.now.year
        %span
          = link_to 'Github', 'https://github.com/chorkpop/antinote'



    = javascript_include_tag "application", "data-turbolinks-track" => true

    = yield(:js) if content_for? :js